h1 {
  font-style: bold;
  font-weight: bolder;
  text-align: center;
  color: purple;
}

h4 {
  color: white;
  text-align: center;
}

footer {
  color: white;
  background-color:  #110707;
  margin: 10px;
}
