body {
  background-image: url(images/tech02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h3 {
  font-style: bold;
  font-weight: bolder;
  text-align: center;
  color: white;
}

h4 {
  color: white;
  text-align: center;
}

p {
  text-align: justify;

}

h5 {
    color: white;
}

span {
  color: red;
}

footer {
  color: white;
  background-color:  #110707;
  margin: 10px;
}

.carousel-inner img {
  width: auto;
  min-height: auto;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
