#particle {
  background-color:	#000000;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:0;
}
#overlay {
  position: relative;
}

body {
  min-height: 100%;
}

h1, h2, h3, p, h5, h4 {
  color: white;
}


a {
  color: white;
}

